<link
  rel="preload"
  href="{{'Franchise-Bold.woff2' | asset_url}}"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
>

<link
  rel="preload"
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>
<noscript>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap"
    rel="stylesheet"
    type="text/css"
  >
</noscript>

<style>
  @font-face {
    font-family: 'Franchise-Bd';
    font-display: swap;
    /* src: url('{{"Franchise-Bold.woff2" | asset_url}}') format('woff2'); */
    src: url('https://cdn.shopify.com/s/files/1/0755/3325/4899/files/Franchise-Bold.woff2') format('woff2');
  }

  :root {
    /* Fonts */
    --headingFontani: 'Franchise-Bd';
    --bodyFont: 'Montserrat', sans-serif;
  }
</style>


{{ 'animated-paragraph.css' | asset_url | stylesheet_tag }}

{% if section.settings.bg_image != blank %}
  
  {% style %}
    .animePara {
      background-image: url('{{section.settings.bg_image | image_url:width:'768x'}}');
      background-color:{{section.settings.bg_color}};
      background-size: cover;
      background-repeat: no-repeat;
    }

    @media (min-width: 1024px) {
      .animePara {
        background-image: url('{{section.settings.bg_image | image_url:width:'1920x'}}');
      }
    }
  {% endstyle %}
{% endif %}

<div class="animePara" x-data="animatedPara">
  <div class="container">
    {% if section.blocks.size > 0 %}
      <h2 class="animePara__heading js-anime-headingWrap" data-items="{{section.blocks.size}}">
        {% for block in section.blocks %}
          {% if block.settings.sentence_copy != blank %}
            {% assign sentence = block.settings.sentence_copy | downcase %}
            <span
              class="animePara__headingItem {% if forloop.index == 1 %}active{% endif %} highlight-{{block.settings.sentence_highlight}}"
              :class="{'active': {{forloop.index | minus: 1 }} === activeSentenceIndex}"
            >
              {{ sentence }}
            </span>
          {% endif %}
        {% endfor %}
      </h2>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Animated Paragraph",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#000"
    }
  ],
  "blocks": [
    {
      "type": "sentence",
      "name": "Sentence",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "sentence_copy",
          "label": "Sentence",
          "info": "Bold the word that needs to be highlighted"
        },
        {
          "type": "radio",
          "id": "sentence_highlight",
          "label": "Highlight Type",
          "options": [
            {
              "value": "circle",
              "label": "Circle"
            },
            {
              "value": "underline",
              "label": "Underline"
            }
          ],
          "default": "underline"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Animated Paragraph"
    }
  ]
}
{% endschema %}
